
/* Good fonts
*  playfair display + muli
*
*/

 /*GENERAL*/
body {
  font-family: Muli, 'Comic Sans';
  margin: 0;
  color: #333;
  background-color: #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', cursive;
}

/*TABS*/
paper-tabs {
  background-color: #B565A7;
  color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.tabs {
  background-color: #B565A7;
}

core-toolbar paper-tabs {
  box-shadow: none;
}





/*BUTTONS*/

paper-button[raisedButton] {
      margin: 1em;
      background: #B565A7;
      color: #fff;
    }

    paper-button[raisedButton] #ripple,
    paper-button[raisedButton]::shadow #ripple {
      color: #eeee00;
    }

    paper-button[raisedButton] #focusBg,
    paper-button[raisedButton]::shadow #focusBg {
      background: #B565A7;
    }




/*PAGES*/

.card-container {
  width: 75%;
  max-width:  1200px;
  margin: auto;

}

.card {
  box-sizing: border-box;
  display: block;
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 20px;
  
  font-size: 1.2rem;
  font-weight: 300;
}

.half{
  
  width: 50%;
}

.full {
  width: 100%;
  
}
.left {
  float: left;
}

.right {
  float: right;
}

.left h2,
.right h2 {
  text-align: center;
}

.filler {
  min-height: 1000px;
  background-color: #eee;
}